<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Document</title>
</head>
<body>
<div><h3>list of Owner</h3></div>
<div><table id="owners" class="table table-striped"><thead>
<tr>
    <th style="width: 150px;">Ownar ID</th>
    <th style="width: 2000px;">First Name</th>
    <th style="width: 150px;">Last Name</th>
</tr>
</thead>
    <tbody>
    <tr th:each="owner:${owner}">
        <td th:text="${owner.id}" >1024l</td>
        <td th:text="${owner.firstname}">barbara</td>
        <td th:text="${owner.lastname}">holland</td>
    </tr>
    </tbody>
</table></div>


</body>
</html>