<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>list of vets</title>
</head>
<body>
<div><h3>list of Owner</h3></div>
<div><table id="vets" class="table table-striped"><thead>
<tr>
    <th>Veterinaries ID</th>
    <th>First Name</th>
    <th>Last Name</th>
</tr>
</thead>
    <tbody>
    <tr th:each="vets:${vets}">
        <td th:text="${vets.id}" >1024l</td>
        <td th:text="${vets.firstname}">barbara</td>
        <td th:text="${vets.lastname}">holland</td>
    </tr>
    </tbody>
</table></div>


</body>
</html>